/**{box-sizing: border-box;}*/

html, body{
display: flex;
align-items: center;
justify-content: center;
position: relative;
height: 100%;
width: 100%;
background-color: #313E50;
font-family: 'Courier New', sans-serif;
}

/*header*/
h1{
  color: #fff;
  font-size: 50px;
  text-align: center;
}

/*div around text and input box*/
.nice-wrap{
position: relative;
width: 500px;
height: 100px;
margin: 0 auto;
}

/*inner text area*/
/*.nice-label{
position: absolute;
top: 15px;
left: 10px;
font-size: 16px;
color: #a0a0a0;
transition: all 0.25s ease;
}*/

/*textbox*/
.nice-textbox{
position: relative;
display: block;
width: 500px;
margin-top: 25px;
padding: 15px;
border-radius: 5px;
font-size: 16px;
color: #353839;
}

#pageButton {
  display: block;
  width: 100px;
  margin: 10px auto;
  padding: 2px;
  border-radius: 2.5px;
}

#editedText {

}
